@import '../bootstrap/dist/css/bootstrap-utilities.min.css';
@import 'components/base/variables.css';
@import 'components/base/fonts.css';

body {
  font-family: "Poppins", "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;
  color: var(--color-light-grey);

}

/*  header */
.nav_link {
  font-weight: 400;
  color: var(--color-dark-grey);
  font-size: 16px;
}
.nav_link:hover,
.nav_link:active,
.nav_link:focus {
   font-weight: 600;
}
.btn-contact {
  background-color: var(--color-primary-blue);
}
.header {
  margin-bottom: 100px;
}
.nav {
  list-style-type: none;
}
.disable {
  display: none;
}

/* promo */

.h1 {
  position: relative;
  font-size: 72px;
  margin-bottom: 80px;
  margin-right: 6%;
  color: var(--bs-black);
}

@media(min-width: 1200px) {
  .h1 {
    margin-right: 3%;
  }
  
  .h1::before {
  content: "";
  width: 80%;
  height: 2px;
  top: 16%;
  left: 88%;
  position: absolute;
  background-color: var(--bs-emphasis-color);
  }
}

@media(min-width: 1400px) {
  .h1::before {
  width: 100%;
  top: 16%;
  left: 100%;
  }
}

.works-counter {
  background-color: var(--color-primary-blue);
  list-style: none;
  padding: 27px 7px;
}

@media(min-width:768px) and (max-width: 992px) {
  .works-counter {
      padding-left: 53px;
      padding-right: 53px;
  }
}

.works_item {
  padding: 6px;
}

@media(min-width: 992px) {
  .works-counter {
    margin-top: -22px;
    width: 23%; 
  }
}

@media(min-width: 1200px) {
  .works-counter {
    margin-top: 10%;
  }
}

.reserved {
    transform: translateY(210px) rotate(270deg); 
    width: 21%;
    padding: 0;
    margin-left: 4%;
    color: var(--bs-black);

}
@media(min-width: 1200px) {
  .reserved {
    margin-left: 0;
  }
}

@media(min-width: 1400px) {
  .reserved {
    margin-left: 10%;
  }
}


.promo {
  background-image: url('../img/promo-kitchen-img.jpg');
  background-size: 100%;
  background-position-y: bottom;
  background-repeat: no-repeat;
  padding-bottom: 44%;
  margin-bottom: 75px;
  flex-wrap: nowrap;
}
@media(min-width: 992px) {
  .promo {
    padding-bottom: 30%;
  } 
}

@media(min-width: 1400px) {
  .promo {
    padding-bottom: 32%;
  } 
}

/* about */

.about-header {
  position: relative;
  font-size: 18px;
  color: var(--bs-black);

}
.about-header:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 2px;
  top: 10px;
  left: 100px;
  background-color: var(--bs-emphasis-color);
}
.blockquote {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
  padding-right: 69px;
  padding-left: 65px;
  margin-bottom: 60px;
  color: var(--bs-black);
}
.about-content-wrapper-inner {
  position: relative;
}
@media(min-width: 1200px) {
  .employer-wrapper {
    background-color: var(--bs-white); 
      position: absolute;
      top: 21px;
      left: -174px;
      padding: 4px 52px 4px 20px;
      width: 350px;
  }
}

.employer-name {
  color: var(--bs-black);
}
@media(min-width: 1200px) {

  .employer-name {
    font-size: 18px;
    margin-bottom: -5px;
  }
  .img-argo {
    width: 50px;
    height: 56px;
  }
  .employer-content-wrapper {
    margin-top: 40%;
    margin-left: 6%;
  }

}

.btn-about {
  color: var(--bs-white);
  width: 200px;
  padding: 14px 32px;
  background-color: var(--color-primary-blue);
  border-radius: 0;
}