.logo {
  padding-top: 60px;
}

.logo-subtitle {
  color: var(--color-dark-grey);
  font-size: 24px;
}

@media(min-width: 992px) {
  .logo-subtitle {
    font-size: 30px;
    padding-right: 12%;
    line-height: 50px;
  }
}

@media(min-width: 992px) {
  footer .logo {
    padding-top: 0;
    margin-right: -44px;
  }
}