body {
  font-family: "Poppins", "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;
  color: var(--color-light-grey);
  margin: 0 auto;
}
.main-container {
  max-width: 1440px;
  background-color: red;
}

.container {
  background: green;
  --bs-gutter-x: 0;
}
.title {
  font-size: 18px;
  color: var(--bs-black);

}
.title::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 2px;
  top: 10px;
  left: 100px;
  background-color: var(--bs-emphasis-color);
}

@media(min-width: 992px) {
  body {
    padding: 0 4%;
  }
    .title::before {
    width: 40%;
  }
  .container {
  background: green;
  --bs-gutter-x: 1.5rem;
} 
}
@media(min-width: 1400px) {
  body {
    padding: 0 120px;
  }
}

