body {
  font-family: "Poppins", "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;
  color: var(--color-light-grey);
  max-width: 1440px;
  margin: 0 auto;
}
@media(min-width: 992px) {
  body {
    padding: 0 4%;
  } 
}
@media(min-width: 1400px) {
  body {
    padding: 0 120px;
  }
}
.container {
  --bs-gutter-x: 0;
  /* background-color: green; */
}