.about {
  margin-bottom: 14%;
}
.about-header,
.services-title,
.product-title,
.material-title,
.achievement-title {
  font-size: 18px;
  color: var(--bs-black);

}
.about-header::before,
.services-title::before,
.product-title::before,
.material-title::before,
.achievement-title::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 2px;
  top: 10px;
  left: 100px;
  background-color: var(--bs-emphasis-color);
}

@media(min-width: 992px) {
  .about-header::before,
  .services-title::before,
  .product-title::before,
  .material-title::before,
  .achievement-title::before {
    width: 40%;
  }
}
.about-blockquote {
  font-size: 1.4rem;
  line-height: 2rem;
  padding-right: 69px;
  padding-left: 65px;
  margin-bottom: 60px;
  color: var(--bs-black);
}

@media(min-width: 1200px) {
  .about-blockquote {
    padding: 0 170px;
  }
}


@media(min-width: 1200px) {
  .employer-wrapper {
      background-color: var(--bs-white); 
      position: absolute;
      top: 21px;
      left: -174px;
      padding: 4px 52px 4px 20px;
      width: 350px;
  }
}

.employer-content-wrapper {
  text-align: justify;
  padding-right: 8%;
}

.employer-name {
  color: var(--bs-black);
}
@media(min-width: 1200px) {

  .employer-name {
    font-size: 18px;
    margin-bottom: -5px;
  }
  .img-argo {
    width: 50px;
    height: 56px;
  }
  .employer-content-wrapper {
    margin-top: 40%;
    margin-left: 6%;
  }
}

.btn-about {
  color: var(--bs-white);
  width: 200px;
  padding: 14px 32px;
  background-color: var(--color-primary-blue);
}
.services {
  margin-bottom: 12%;
}
.services-img {
  width: 100%;
}

@media(min-width: 992px) {
  .services {
    margin-bottom: 40%;
  }
  .services-wrapper {
    width: 65%;
    background-color: var(--bs-white); 
  }
}

@media(min-width: 576px) {
  .services-description {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media(min-width: 992px) {
  .services-description {
    padding-right: 24%;
  }
}
.services-list,
.product-list {
  counter-reset: list-item 0;
  color: var(--color-dark-grey);
}

.services-item::before,
.product-item::before {
  content: "0"counter(list-item);
  counter-increment: list-item;
  position: absolute;
  top: -1px;
  left: -45px;
  font-size: 22px;
}
@media(min-width: 992px) {
  .services-img {
    position: absolute;
    left: 0;
    top: 62%;
  }
}