.header-about {
  margin-bottom: 50px;
}
.about-promo {
  color: var(--bs-black);
  margin-bottom: 10%;
}
.about-promo-title {
  font-size: 56px;
  line-height: 74px;
}
.about-promo-subtitle {
  line-height: 30px;
  padding: 0 8%; 
}

@media(min-width: 992px) {
  .about-promo-subtitle {
      padding: 0 20%;
      margin-bottom: 5%;
  }
}

@media(min-width: 1200px) {
  .about-promo-subtitle {
      padding: 0 24%;
  }
}

@media(min-width: 1400px) {
  .about-promo-subtitle {
      padding: 0 28%;
  }
}
.about-img {
  width: 100%;
}

@media(min-width: 768px) {
  .about-img {
    height: 450px;
  }
}
@media(min-width: 992px) {
  .about-img {
    height: 475px;
  }
}