.achievement {
  position: relative;
  margin-bottom: 9%;
}
.achievement-title::before {
  width: 71%;
  left: 27%;
}
.achievement-subtitle {
  color: var(--bs-black);
}

@media(min-width: 992px) {
  .achievement-title::before {
    width: 46%;
    left: 17%;
  }
  .achievement-subtitle {
    padding-right: 45%;
    font-size: 36px;
    line-height: 40px;
  }
  .achievement-img {
    width: 100%;
    margin-right: 5px;
  }
}

@media(min-width: 1200px) {
  .achievent-subtitle {
    padding-right: 55%;
  }

  .achievement-img {
    width: 78%;
    margin-right: 31px;
  }
  .achievement-counter {
    position: static;
    width: 20%;
  }
}

@media(min-width: 1400px) {
  .achievent-subtitle {
    padding-right: 61%;
  }
}

.achievement-img {
  width: 100%;

}
@media(min-width: 768px) {
  .achievement-img {
    height: 450px;
  }
}
@media(min-width: 992px) {
  .achievement-img {
    width: 77% ;
    height: 508px; 
  }
}
 