.home-material {
  margin-bottom: 100px; 
}

.home-material-wrapper {
  padding: 0 61px;
}

.home-material-subtitle {
  font-size: 24px;
  color: var(--color-dark-grey);
}

.home-material-link {
  color: var(--color-dark-grey);
  border: 1px solid var(--color-dark-grey);
  padding: 14px 32px;
}
.home-material-gallery {
  height: 500px;
}

.home-material-item {
  width: 250px;
  margin-right: 19px;
}

@media(min-width: 992px) {
  .home-material-subtitle {
    font-size: 36px;
    line-height: 62px;
  }
}

@media(min-width: 1200px) {
  .home-material-gallery {
    padding-left: 112px;
  }
  .home-material-item:first-child {
    margin-right: 27px;
  }
}